{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<style>
  .errorlist{
    list-style: none;
  }
</style>
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{request.user.username|capfirst}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'dashboard' %}" class="btn btn-primary">Dashboard</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <form action="" method="post">
    <h2>Change Password</h2><hr>
    {% csrf_token %}

    {% for field in form %}
     <div class="mb-3">
       {{field.label_tag}}
       {{field}}
       {% if field.errors %}
        <p class="errorlist"><strong> {{field.errors}} </strong></p>
      {% endif  %}

     </div>
    {% endfor %}


    

     <button type="submit" class="btn btn-primary">Submit</button>
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}